.main {
   min-height: 100%;
    background-color:lightgray;
    flex:1;
    display:flex;
    flex-direction:row;
}

.column {
    background-color:lightblue;
    flex:1;
    min-width:15rem;
    max-width:25rem;
    border-style:solid;
    margin: 1ex 1ex;
    border-radius: 25px;
    padding:0.5em;
    align-items : stretch;

}

.item {
    background-color:lightyellow;
    margin:0.5ex ;
    border-radius: 10px;
    border-style:solid;
    padding:0.5em;
}
.header{
    background-color:gray;
}

.footer{
    background-color:gray;
}

body {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.boardForm {
    display:flex;
    flex-wrap:wrap;
}

#overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    }

#overlay:target{
    display: block;
    margin:auto;
    padding: 2em 2em 2em 2em;
    background-color: lightgray;
    border-radius: 25px;
    width:35em;
    height:15em;
    }

.button{
    font-weight: bold;
    padding: 10px 25px;
    background-color: white;
    border-radius: 15px;
    }

#addColumn{
    display:none;
    position: fixed;


    z-index: 1000;

}
#addColumn:target{
    display:block;
}
