.main {
   min-height: 100%;
    background-color:#DBDBDB;
    flex:1;
    display:-webkit-flex;
    display: flex;
    flex-direction:row;
    -webkit-flex-direction:row;
}

.column {
    background-color:#B8B8B8;
    flex:1;
    min-width:15rem;
    max-width:25rem;
    border-style:solid;
    border-width:0.1ex;
    margin: 1ex 1ex;
    border-radius: 0px;
    padding:0.5em;
    align-items : stretch;
    padding-top:0.1ex;

}

.column-title{
margin-top:0.1ex;
margin-bottom:1ex;
 }

.item {
    background-color:#EFEFEF;
    margin:0.5ex ;
    border-radius: 0px;
    border-width: 0.1ex;
    border-style:solid;
    padding:0.5em;
}
.item-title{
margin-top:0.1ex;
margin-bottom:1ex;
}
.header{
    background-color:gray;
    display:-webkit-flex;
    display:flex;
    align:auto;
}

.footer{
    background-color:gray;
}

body {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    font-size: 14px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.boardForm {
    dispay:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}

#new_board{
    display: none;
    position: fixed;
    z-index: 1000;
    }

#new_board:target{
    display: block;
    }

.overlay {
    margin:auto;
    padding: 0em 2em 0em 2em;
    background-color: #EFEFEF;
    border-radius: Opx;
    width:35em;
    min-height:15em;
    max-height: 95%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    box-shadow:5px 5px 50px 2px black;
}

.button{
    font-weight: bold;
    padding: 0.5ex 2ex;
    background-color: #B8B8B8;
    border-radius: 0px;
    border: none;
    height:4em;
    text-decoration:none;
    }

.button:link {
	color:black;
}

.button:hover {
	box-shadow:5px 5px 15px 0px black;
}

.green:hover {
	 background-color: #9BEF99;
}

.red:hover {
	 background-color: #FF978D;
}
#addColumn{
    display:none;
    position: fixed;


    z-index: 1000;

}
#addColumn:target{
    display:block;
}

.addItemForm{
    display:none;
    position: fixed;


    z-index: 1000;

}

[draggable=true] {
    user-select:none;
    cursor:move;
}

[draggable=true]:hover{
    box-shadow:0 0 5px blue;
}

[draggable=true], [dropzone]{
    transition:
        box-shadow linear 0.2s,
        background-color linear 0.2s;
}

.edit {
    font-size: smaller;
    float: right;
    }

#edit-content {
    display: block;
    margin:auto;
    padding: 2em 2em 2em 2em;
    background-color: white;
    border-radius: 25px;
    width:35em;
    height:15em;
    min-width:55rem;
    border-style:solid;
    margin: 1ex 1ex;
}

.column_number {font-size:smaller;}

.tag {padding: 0.3ex 1ex;}


/* copy from bootstap */
* {
   box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

h1, h2, h3, h4{
    font-weight: 500;
}
h1 {
    font-size: 36px;
}

h2 {
    font-size:28px;
}

h3 {
    font-size:20px;
}

fieldset{
 border: none;
}
