.main {
   min-height: 100%;
    background-color:lightgray;
    flex:1;
    display:-webkit-flex;
    display: flex;
    flex-direction:row;
    -webkit-flex-direction:row;
}

.column {
    background-color:lightblue;
    flex:1;
    min-width:15rem;
    max-width:25rem;
    border-style:solid;
    margin: 1ex 1ex;
    border-radius: 25px;
    padding:0.5em;
    align-items : stretch;

}

.item {
    background-color:lightyellow;
    margin:0.5ex ;
    border-radius: 10px;
    border-style:solid;
    padding:0.5em;
}
.header{
    background-color:gray;
    display:-webkit-flex;
    display:flex;
    align:auto;
}

.footer{
    background-color:gray;
}

body {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
}

.boardForm {
    dispay:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}

#overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    }

#overlay:target{
    display: block;
    margin:auto;
    padding: 2em 2em 2em 2em;
    background-color: lightgray;
    border-radius: 25px;
    width:35em;
    height:15em;
    }

.button{
    font-weight: bold;
    padding: 10px 25px;
    background-color: white;
    border-radius: 15px;
    }

#addColumn{
    display:none;
    position: fixed;


    z-index: 1000;

}
#addColumn:target{
    display:block;
}

.addItemForm{
    display:none;
    position: fixed;


    z-index: 1000;

}

[draggable=true] {
    user-select:none;
    cursor:move;
}

[draggable=true]:hover{
    box-shadow:0 0 5px blue;
}

[draggable=true], [dropzone]{
    transition:
        box-shadow linear 0.2s,
        background-color linear 0.2s;
}

.edit {
    font-size: smaller;
    float: right;
    }

#edit-content {
    display: block;
    margin:auto;
    padding: 2em 2em 2em 2em;
    background-color: white;
    border-radius: 25px;
    width:35em;
    height:15em;
    min-width:55rem;
    border-style:solid;
    margin: 1ex 1ex;
}

.column_number {font-size:smaller;}

.tag {padding: 0.3ex 1ex;}
